* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

html {
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
}
.App {
  text-align: center;
}

.App-header {
  border-bottom: solid 1px white;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 2rem;
  color: rgb(223, 175, 175);
  text-transform: uppercase;
}

.navlink-container {
  font-size: 1.5rem;
  padding-left: 2rem;
  width: 17rem;
  display: flex;
  justify-content: space-between;
}
.login {
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: rgb(85, 26, 139);
  cursor: pointer;
}

.homeWrap {
  padding-bottom: 5rem;
}

.headerText {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  position: relative;
  color: rgb(85, 26, 139);
}

.headerText:after {
  content: '';
  position: absolute;
  width: 60%;
  border-bottom: solid 1px white;
  left: 50%;
  bottom: 0;
  margin-left: -30%;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cart-wrap {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  align-items: center;
}

.productWrap {
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.product-item {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 25rem;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #f5f5f5;
  background: white;
  font-family: 'Open Sans';
  transition: 0.3s ease-in;
  border-radius: 0.5rem;
}

.product-description {
  margin: 5rem auto 0;
  width: 80%;

  display: flex;
}

.product-description > .product-list {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  max-height: 50rem;
}
.product-description > .product-list > .product-name {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.product-description > .product-list > .price {
  padding-top: 1rem;
}
.increment-btn,
.decrement-btn {
  width: 2rem;
}

.product-item:hover {
  border-bottom: 2px solid #fc5a5a;
}
.imgWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-item img {
  display: block;
  width: 17rem;
}

.product-list {
  position: relative;
  background: #fafafa;
  padding: 15px 0;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
}
.product-name {
  font-size: 1.5rem;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}
.price {
  font-size: 2rem;
  color: #fc5a5a;
  display: block;
  padding-bottom: 1rem;
}
.button {
  width: 10rem;
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: 0.3s ease-in;
  margin: 0 auto;
  cursor: pointer;
}
.product-item:hover .button {
  background: #fc5a5a;
}

.page-notfound {
  height: 100vh;
}

.page-notfound > div {
  width: 30rem;
  font-size: 3rem;
  text-align: center;
  margin: 12rem auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  position: fixed;
  width: 400px;
  height: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    95.2deg,
    rgba(173, 252, 234, 1) 26.8%,
    rgba(192, 229, 246, 1) 64%
  );
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: opacity 0.5s;

  border-radius: 5px;
  z-index: 20;
}

.close-button {
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
}

.close-button::before,
.close-button::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  width: 2px;
  height: 20px;
  background-color: black;
  border-radius: 2px;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

form {
  display: flex;
  flex-direction: column;
}
input {
  height: 2.5rem;
  width: 15rem;
  border-radius: 5px;
  border: none;
}
input:focus {
  background-color: lightblue;
}

.form-buttons {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.form-buttons button {
  width: 6rem;
}

label {
  text-transform: uppercase;
  display: grid;
}

.password-error,
.name-error {
  text-align: right;
  height: 1rem;
  font-size: 0.6rem;
  color: red;
}

.add-cart-text {
  color: red;
  position: absolute;
  left: 3rem;
  bottom: 4rem;
}

.product-description > .product-list {
  position: relative;
  display: grid;
  grid-template-rows: 0fr 1fr 0fr 0fr 0fr;
}

.product-description > .product-list > .add-cart-text {
  position: relative;
  left: 0;
  bottom: 0;
}
